* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

a, a:active, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  position: relative;
}
.container > button {
  width: 20rem;
  height: 10rem;
  border: none;
  border-radius: 2rem;
  background-size: 300%;
  background-position: center left;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #a27dc5 100%);
  color: black;
  font-size: 2.5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.container > button:hover {
  cursor: pointer;
  background-position: bottom right;
}
.container .active {
  display: none;
}
.container .layer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.596);
}
.container .modalCss {
  width: 50rem;
  height: 20rem;
  margin-bottom: 40rem;
  position: absolute;
  z-index: 2;
  border-radius: 2rem;
  background-color: white;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.container .modalCss .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  background-color: rgb(0, 102, 255);
  color: white;
}
.container .modalCss .title h1::-moz-selection {
  background-color: #f5f5f5;
  color: #0e4efd;
}
.container .modalCss .title h1::selection {
  background-color: #f5f5f5;
  color: #0e4efd;
}
.container .modalCss .title h2 {
  text-align: center;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 2rem;
  background-color: #ffffff;
  color: #0e4efd;
}
.container .modalCss .title h2:hover {
  color: #3453a8;
  background-color: #bdbdbd;
  cursor: pointer;
}
.container .modalCss .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  text-align: center;
}